<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="FinalProjectConnectionString" connectionString="Data Source=XAIGAMER;Initial Catalog=FinalProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="Data Source=DAVIDHSU-PC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalProjectConnectionString2" connectionString="Data Source=DAVIDHSU-PC;Initial Catalog=FinalProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <sessionState mode="StateServer"
       stateConnectionString="tcpip=localhost:42424"
       cookieless="false"
       timeout="20"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
